<h1>{{title}}</h1>
<!-- 

<nav-bar></nav-bar>
<app-header></app-header>
<div class="container" > 
  <div>
    <h2>{{count}}</h2>
  </div>
  <div class="card">
    <button (click)="Increment()">Increment</button>
    <button (click)="Reset()">Reset</button>
    <button (mouseover)="Decrement()">Decrement</button>
  </div>
</div>

<input type="text" [value]="username">

<input type="text" (keydown.enter)="(keyupFiltering(user))" #user id="userInput">

<input type="text" [(ngModel)]="Name">


<h1 [(ngModel)]="Name"></h1>
-->
<div>
  <input type="radio" [(ngModel)]="selectedOption" name="check" [value]="true" (change)="click()"> True
  <input type="radio" [(ngModel)]="selectedOption" name="check" [value]="false" (change)="click()"> False
</div>

<!--
<h1>{{selectedOption}}</h1>

<h3 *ngIf="islogin">Login Successful by ng-ifelse syntax</h3>
<h3 *ngIf="!islogin">Login Failed  by ng-ifelse syntax</h3>

{{islogin}}

@if(islogin){
  <h1>Login Successful by ifelse syntax</h1>
}
@else{
  <h1>Login Failed by ifelse syntax</h1>
}
  <br>
  <br>

<div>

  <label for="">UserName:
    <input type="text" [(ngModel)]="InputUname">
  </label>
  <button (click)="checkUsername()">Login</button>

</div>

  @if(counter != 0){
    
    @if(islogin){
      <h1>Login Successful {{username}}</h1>
  }
  @else{
    <h1>Login Failed</h1>
  }
}


<button *ngIf="counter < 5;  else template" >Click me!</button>

<ng-template #template>

  <h1>this is from template</h1>
</ng-template>



<br>
<br>
<br>

<ng-template #btn>
  <p>hello</p>
  <button>Click Me</button>
</ng-template>


<div >
  <h1>NgTemplate</h1>

  <div [ngTemplateOutlet]="btn">
    <h3>NavBar</h3>
  </div>

  <div [ngTemplateOutlet]="btn" >
    <h3>SideBar</h3>
  </div>
  
  <div [ngTemplateOutlet]="btn" >
    <h3>Footer</h3>
  </div>
</div>
  
  <br>
  <br>
  <br>
<h1>Arrays</h1>


<h3 *ngFor="let fruit of Fruits" >{{fruit}}</h3>
<br>
<br>
<br>

@for(fruit of Fruits; track fruit){
  <h4>{{fruit}}</h4>
}
 -->
 
 <input type="number" [(ngModel)]="ID" placeholder="Enter Id">
<input type="text" [(ngModel)]="Name" placeholder="Enter Name">
<input type="number" [(ngModel)]="Age" placeholder="Enter Age">
<button *ngIf="(editcount==0)"(click)="addnew()">Add new Person</button>
<button *ngIf="(editcount!=0)" (click)="update()">update</button>

<div class="Main-table">

  <table border="1">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let P of person">
        <td>{{P.id}}</td>
        <td>{{P.name}}</td>
        <td>{{P.age}}</td>
        <td>
          <button (click)="ondelete(P)">Delete</button>
          <button (click)="onEdit(P)">Edit</button>
        </td>
    </tr>
  </tbody>
 </table>
</div>


<br>
<br>
<br>
<br>

<h1>{{Common}} from APP Component</h1>

<!-- getting View from child view using parent Component -->
<app-header [username]="username" [CommonHeader]="Common" [LoginStatus]="islogin" (msgevent)="recieveEvent($event)">Header Componentswdew</app-header>



<p>
  {{message}}
</p>

<br>
<br>
<br>
<br>






<!-- <div ngComponentOutlet="loadComponent()" ></div> -->
<button (click)="loadComponent()" >Click to Load Component</button>
<button (click)="removeComponent()" >Click to Remove Component</button>


<button (click)="valuechanges()" >change</button>




<br><br><br><br>

<h1>
  <ul>
    <li *ngFor="let car of postService;">
        {{car.name}}
        {{car.model}}
        {{car.color}}
       <!-- car -->
    </li>
  </ul>
  <!-- {{postService | json}} -->
   <button (click)="addCar()">Add New</button>
</h1>



<br><br><br>

<div class="form">
  <h1>Angular Form</h1>
  <form (submit)="formSubmit(f)" #f="ngForm">

    <input type="text" name="fullname" id="name" placeholder="Enter Name" ngModel #fullname="ngModel" (change)="getvalue(fullname)">
    @if(fullname.value == ""){
      <span>
        FullName Required
      </span>
    }
    <br><br>
    <input type="text" name="Email" id="email" placeholder="Enter Email" ngModel>
    <br><br>
    <input type="text" name="city" id="city" placeholder="Enter City" ngModel>
    <br><br>
    <button>Submit</button>
  </form>
</div>



 <!-- <h2 *ngFor="let P of person" >{{P.id}} </h2> -->