<h1>{{title}}</h1>


<nav-bar></nav-bar>
<app-header></app-header>
<div class="container" > 
  <div>
    <h2>{{count}}</h2>
  </div>
  <div class="card">
    <button (click)="Increment()">Increment</button>
    <button (click)="Reset()">Reset</button>
    <button (mouseover)="Decrement()">Decrement</button>
  </div>
</div>

<input type="text" [value]="username">

<input type="text" (keydown.enter)="(keyupFiltering(user))" #user id="userInput">

<input type="text" [(ngModel)]="Name">


<h1 [(ngModel)]="Name"></h1>








